<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WISConnect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>381668501C75F17400CCA4AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381668631C75F17400CCA4AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3816686E1C75F17400CCA4AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
